<!--Day 62 - Coffee & Wi-Fi project-->
<!--Use this as base template-->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <link rel="icon" type="image/x-icon" href="../static/images/Favicon.png">
    {% block styles %}
    {{ bootstrap.load_css() }}
    <link rel="stylesheet" href="../static/css/styles.css">
    {% endblock %}
    <title>{% block title %}{% endblock %}</title>
  </head>
  <body>
    {% block content %}{% endblock %}
  </body>
</html>
