<!--Day 61 - Template inheritance with Jinja-->
<!--Using this as base template for success.html and denied.html-->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    {% block styling %}
    <style>
        body{
            background-color: purple;
        }
    </style>
    {% endblock %}
    {{ bootstrap.load_css() }}
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    {% block content %}{% endblock %}
    {{ bootstrap.load_css() }}
</body>
</html>