{% extends "base.html" %} {% block content %}

<div class="box">
  <h1>Flask Authentication</h1>
  <!--Hide the Login/Registration buttons for logged-in users -->
  {% if not logged_in: %}
  <a href="{{ url_for('login') }}" class="btn btn-primary btn-block btn-large"
    >Login</a
  >
  <a
    href="{{ url_for('register') }}"
    class="btn btn-secondary btn-block btn-large"
    >Register</a
  >
  {% endif %}
  <!--Show a message if logged in-->
  {% if logged_in: %}
    <p class="font-monospace font-weight-bold text-primary">You are currently logged in as <i>{{ current_user.name }}!</i></p>
  {% endif %}
</div>

{% endblock %}
